@charset "utf-8";
/* CSS Document */

.button {
    /*background-color: #03C;*/
    border: none;
    color: white;
    padding: 100px 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 90px;
}
